<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<table border="1">
    <thead>
    <tr>
        <th>id</th>
        <th>name</th>
        <th>surname</th>
        <th>username</th>
        <th>role</th>
    </tr>
    </thead>
    <tbody th:each ="user : ${users}">
        <tr>
            <td th:text="${user.getId()}">VALUE</td>
            <td th:text="${user.getName()}">VALUE</td>
            <td th:text="${user.getSurname()}">VALUE</td>
            <td th:text="${user.getUsername()}">VALUE</td>
            <td th:each="role : ${user.getRoles()}" th:utext="${role.getName()}">ROLE</td>

            <td>
                <form th:method="GET" th:action="@{/admin/user/{id}/edit(id=${user.getId()})}">
                    <input type="submit" value="Update">
                </form> <td>
                <form th:method="DELETE" th:action="@{/admin/user/{id}(id=${user.getId()})}">
                    <input type="submit" value="Delete"/>
                </form>
            </td>
        </tr>
    </tbody>
</table>


<br/>
<hr/>

<form method="GET" th:action="@{/admin/new}">
    <input type="submit" value="Create new User">
</form>
<br/>
<hr/>
<form th:action="@{/logout}" th:method="POST" target="_self">
    <button>Logout</button>
</form>

</body>
</html>