<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New person</title>
</head>
<body>

<form th:method="POST" th:action="@{/admin}" th:object="${user}">
    <label for="name">Enter name: </label>
    <input type="text" th:field="*{name}" id="name">
    <label for="surname">Enter surname: </label>
    <input type="text" th:field="*{surname}" id="surname">
    <label for="username">Enter username: </label>
    <input type="text" th:field="*{username}" id="username">
    <label for="password">Enter password: </label>
    <input type="text" th:field="*{password}" id="password">
    <label>Enter role:
        <select size="2" multiple name="roles" >
            <option value="1">USER</option>
            <option selected="selected" value="2">ADMIN</option>
        </select>
    </label>
    <br/>
    <input type="submit" value="Create!"/>
</form>

</body>
</html>